{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
   <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Todo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
      </nav>
   </div>
   <div class="container my-3">
    <h2>Update your Todo</h2>
    <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" value="{{todo.title}}" class="form-control" id="title" >

        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="text" name="desc" value="{{todo.desc}}" class="form-control" id="desc">
        </div>
        <div class="mb-3 form-check">
        </div>
        <button type="submit" class="btn btn-dark">Update</button>
      </form>
   </div>

</div>
{% endblock body %}